<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RealEstate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <clear/>
    <add name="Context" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=RealEstate;Data Source=.;Password=1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <RealEstate.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value/>
      </setting>
      <setting name="password" serializeAs="String">
        <value/>
      </setting>
      <setting name="ShowSlide" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowPic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DarkMode" serializeAs="String">
        <value>True</value>
      </setting>
    </RealEstate.Properties.Settings>
  </userSettings>
</configuration>
